

        .bdBg {
            /*border: 1px blue solid;*/
            width: 100%;
            background-color: white;
            height: 600px;
            position: relative;
        }

        .bdLeftDiv {
            /*border: 1px red solid;*/
            background-image: url("bg2.jpg");

            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 400px;
            width: 500px;
            top: 75px;
            right: 50%;
            position: absolute;
            display: inline-block;

            /* float:left;*/


        }

        .bdText {
            border: 1px grey solid;
            color: white;
            left: 40px;
            top: 60px;
            right: 40px;
            bottom: 60px;
            position: absolute;
            padding: 25px 35px;
            color: rgba(235, 235, 235, 1);
            font-family: Arial;
            background: rgba(255, 255, 255, .1);


        }

        .bdContent {
            line-height: 1.5em;
            font-size: 14px;
            letter-spacing: 1px;
        }

        .bdLink {
            border: 1px white solid;
            text-decoration: none;
            color: white;
            padding: 5px 10px;
            margin: 10px 0;
            display: inline-block;
            font-size: 13px;

            color: rgba(235, 235, 235, 1);

        }


        .bdRightDiv {
            /*border: 1px red solid;*/

            width: 525px;
            display: inline-block;
            position: absolute;
            left: 50%;

            /*float:left;*/
        }

        .bdList {
            margin-top: 65px;
        }


        .bdList li::before {
            /*border: 1px red solid;*/
            content: '';
            width: 45px;
            height: 130px;
            line-height: 30px;
            display: inline-block;
            float: left;

            background-size: contain;
            background-repeat: no-repeat;
            margin: 0 25px 0 0;

        }

        .bdList li:nth-child(1)::before {
            background-image: url("icon1.png");
        }

        .bdList li:nth-child(2)::before {
            background-image: url("icon2.png");
        }

        .bdList li:nth-child(3)::before {
            background-image: url("icon3.png");
        }


        .bdList li {
            list-style-type: none;

            /*border: 1px red solid;*/

            height: 160px;
            /*display:inline-block;*/


        }

        .bdList li h3 {
            font-size: 22px;
            margin-bottom: 0;
        }

        .bdList li p {
            line-height: 1.4em;
            font-size: 17px;
            /*letter-spacing: 1px;*/
        }