.serBg, .serBg *{
    /*border:1px red solid;*/
    display:block;
}
.serBg{
    /*border:1px red solid;*/
    height:600px;
    position:relative;
    padding-top:40px;
    width:1600px;
    margin:0 auto;
}


.serCap{
    /*border:1px red solid;*/
    text-align:center;
    font-size:43px;
    color:rgb(88,88,88);
    margin-top:0;
}

.serList{
    /*border:1px red solid;*/
    list-style-type:none;
    text-align: center;
    padding:0;

}

.serList li{
    /*border:1px red solid;*/
   display:inline-block;
    vertical-align: top;
    width:340px;
    margin-left:25px;


}


.serList li>*{

    width:100%;


}

.serList li>p:nth-of-type(1){

    text-align:center;
    font-size:22px;
    background-color:lightgreen;
    color:white;
    margin-top:0;
    height:50px;
    line-height:50px;


}
.serList li>p:nth-of-type(2){
    letter-spacing: 1px;
    text-align: center;
}


 .serLink{


    text-align:center;
clear:left;
     width:175px;
     height:45px;
     line-height:45px;
     text-decoration:none;
     color:white;
     background-color:rgb(45,45,45);
     margin:35px auto;



}