.homeBg {
            /*border: 1px blue solid;*/
            width: 100%;
            background-color: black;
        }

        .homeDiv {
            /*border: 1px red solid;*/
            background-image: url("banner1.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 600px;
            width: 80%;
            margin: 0 auto;
            position: relative;

        }

        .homeText {
            /*border: 1px red solid;*/
            color: white;
            width: 40%;
            height: 70%;
            left: 3%;
            top: 15%;
            position: absolute;
            padding: 25px;


        }

        .homeLink {
            border: 1px white solid;
            text-decoration: none;
            color: white;
            padding: 10px 20px;
            margin: 20px 0;
            display: inline-block;

        }

        .homeContent {
            line-height: 2em;
            letter-spacing: 3px;
        }